{
	"useTabs": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"svelteStrictMode": true,
	"semi": true,
	"bracketLine": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-svelte"]
}
